@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import "tw-animate-css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
</style > html {
  scroll-behavior: smooth;
}

/* === SHINY TEXT (LIGHT DEFAULT) === */
.shiny {
  --shiny-color: #ffffff;
  --shiny-shine: #212121;
}

/* === SHINY TEXT (DARK OVERRIDE) === */
.shiny-dark {
  --shiny-color: #ffffff;
  --shiny-shine: #374254;
}

@theme {
  --color-primary: #ffffff;
  --color-primary-dark: #030712;

  --font-sans: "Inter", system-ui, sans-serif;
}

/* === DARK MODE BUTTONS === */
.btn-dark-solid {
  @apply bg-[#374254] text-white rounded-full px-5 py-3 transition-colors duration-300;
}

.btn-dark-outline {
  @apply bg-[#10141f] border border-[#4a4c54] text-[#4a4c54] rounded-full px-5 py-3 transition-colors duration-300;
}

/* === LIGHT MODE BUTTONS === */
.btn-light-solid {
  @apply bg-black text-white rounded-full px-5 py-3 transition-colors duration-300;
}

.btn-light-outline {
  @apply bg-white border border-[#4a4c54] text-[#4a4c54] rounded-full px-5 py-3 transition-colors duration-300;
}

/* Scroll */

.experience-item {
  opacity: 0;
  animation: fade-in-up 1s ease forwards;
  animation-timeline: view(block);
  animation-range: contain 0% contain 60%;
}

/* Garis timeline progresif */
.scroll-line {
  animation: scroll-progress linear;
  animation-timeline: scroll(root);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
